img {
    filter: grayscale(75%);
    border: 2px rgb(248, 184, 128);
    border-radius: 50px 0px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

footer {
    text-align: center;
}

p {
    font-weight: bold;
}

table, th, td {
    border: 1px solid;
}

table {
    width: 50%;
    border-collapse: collapse;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(248, 184, 128);
    color: white;
}

.navbar {
    overflow: hidden;
    background-color: rgb(248, 184, 128);
    position: fixed;
    top: 0;
    width: 100%;
  }

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

.navbar a:hover {
    background: #ddd;
    color: black;
  }

  .container {
    position: relative;
    width: 50%;
  }
  
  .iframe {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }